# ALY 6110 Data Management and Big Data
## Final Project - Suicide Rate Analysis
### Group member: Yihong Qiu, Yue Liu

Proposal: 

●	Has the suicide rate decreased in recent years?

●	Which countries have high or low suicide rates in comparison, and what causes them to become prominent countries?

●	Regarding the suicide cases of teenagers 13 to 19 years old, what are their trends in gender or country over time?

●	Why do men have more suicides than women in most countries? Are there any countries where women have more suicides than men?


Assignment Summary:

Begin the analysis of your big data set by completing a basic analysis with an associated dashboard. To do this, 

●	Analyze the data for clustering, correlations and patterns that will assist you in answering your initial real-world question or solution. 

●	Using R, Python, Tableau, or other tool to create a basic dashboard for this data that will allow a user to see these attributes of the data. 

●	The Dashboard should contain graphical elements that supports your interpretation of the patterns, clustering and correlations you have found in the data. 

●	Identify three insights based on the data (consider how data is clustered, correlations between data or other patterns in the data). Provide an overview and purpose of each element of the dashboard that you include. This information should reflect the work you did in your analysis.

This assignment should be no more than 3-5 pages in length. Submit screenshots of your preliminary dashboard within the document.

Submit this assignment in Module 4. If you are completing the project as a group, only 1 submission per group is required.

Kaggle link: https://www.kaggle.com/russellyates88/suicide-rates-overview-1985-to-2016

### Install Packages

In [10]:
import pandas as pd
import numpy as np

### Read Data

In [11]:
df = pd.read_csv('master.csv')

In [18]:
df.shape

(27820, 12)

In [13]:
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [26]:
df.isnull().any()

country               False
year                  False
sex                   False
age                   False
suicides_no           False
population            False
suicides/100k pop     False
country-year          False
HDI for year           True
 gdp_for_year ($)     False
gdp_per_capita ($)    False
generation            False
dtype: bool

In [17]:
df.dtypes

country                object
year                    int64
sex                    object
age                    object
suicides_no             int64
population              int64
suicides/100k pop     float64
country-year           object
HDI for year          float64
 gdp_for_year ($)      object
gdp_per_capita ($)      int64
generation             object
dtype: object

In [24]:
df.nunique()

country                 101
year                     32
sex                       2
age                       6
suicides_no            2084
population            25564
suicides/100k pop      5298
country-year           2321
HDI for year            305
 gdp_for_year ($)      2321
gdp_per_capita ($)     2233
generation                6
dtype: int64